  {{ form_start(form) }}

        {{ form_widget(form) }}

          <div style="display:none">
            {{ form_widget(registrationForm.createdAt, { 'attr': {'class': 'hidden-row'} }) }}
            {{ form_widget(registrationForm.updatedAt, { 'attr': {'class': 'hidden-row'} }) }}
          </div>

        <input type="submit" value="{{ submitButtonText }}" class="btn btn-primary btn-block">
    {{ form_end(form) }}